.oxygen-regular {
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  font-style: normal;
  /* using a easy to read font for body text */
}

.silkscreen-bold {
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-style: normal;
  /* cool font for heading to make look cooler */
}
body {
  background-image: radial-gradient(
    circle,
    #e72f98,
    #dd23a6,
    #d01db5,
    #bd20c5,
    #a32ad6,
    #902fd9,
    #7a34db,
    #6138dd,
    #5737d2,
    #4e35c7,
    #4533bc,
    #3c31b1
  );
  /* cool gradient to add interest */
}

p {
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  font-style: normal;

  /* using an easy to read font for the body text */
}
h1 {
  padding: 1.5rem;
  font-size: 5rem;
  text-align: center;
  font-family: "Silkscreen", sans-serif;
  font-weight: 800;
  font-style: normal;
  color: rgb(244, 247, 247);
  /* had to make text white for high contrast  */
}

.subhead {
  padding: 1.5rem;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  color: rgb(244, 247, 247);
  /* centre aligning text to make more balanced */
}
.question {
  padding: 1rem;
  font-weight: bolder;
  font-size: 1.2rem;
  color: #18098a;
  /* decided to make questions bolder & more purple so they are easier to differentiate from the answers */
}

.answer {
  padding: 1rem;
  font-size: 1.2rem;
}

.answer2 {
  padding: 0.2rem;
  font-size: 1.2rem;
  font-family: "Oxygen", sans-serif;
  font-weight: 400;
  font-style: normal;
  /* had to put my answers with bullet point structure in a seperate class because the padding looked weird */
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* creating a grid with 2 columns */
  grid-gap: 30px; /* increasing between grid items */
  padding: 150px; /* adding a wider boarder to the outside of the grid */
}

.grid-item {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 20px; /* making edges of the grid item less pointy */
}

#link {
  color: rgb(
    121,
    199,
    18
  ); /* had to Change the colour of link because it blended into the blue background */
}

#link:hover {
  color: rgb(
    251,
    255,
    0
  ); /* had to add hover colour to get an interactive experience  */
}
