body {
  font-family: "Signika Negative", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #d7bee7;
  background-size: cover;
  line-height: 1.6;
}

.card {
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
  background-color: rgb(236, 219, 248);
  padding: 50px;
}

#info-card {
  left: 10;
  top: 0;
}

.rounded {
  border-radius: 25px;
}

.title {
  font-size: xx-large;
  font-weight: 600;
}

#flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#dice {
  height: 100px;
  width: 100px;
  margin-bottom: 50px;
}

#dice-image {
  height: 100px;
  width: 100px;
  position: absolute;
  z-index: 9;
  background-color: #ffffff;
  border: 1px solid #d3d3d3;
  text-align: center;
  padding: 10px;
  cursor: move;
  z-index: 10;
  color: #fff;
}

/* For the aesthetics of this project, I aimed for simplicity on the webpage.
 I used rounded fonts and assets to create a friendly and inviting feel. I
  chose refined colours, specifically purple, to establish a clear visual
  hierarchy that draws attention to the dice.
 */
