body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: center;
}

.title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 60px;
  color: #6c1172;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
  margin: 0 auto 0 auto;
}

.left-buttons,
.right-buttons {
  display: flex;
  gap: 10px;
}

.file-upload input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.custom-file-button {
  display: inline-block;
  padding: 6px 12px;
  background: #f7dcff;
  border: 1px solid #6c1172;
  border-radius: 2px;
  cursor: pointer;
  font-size: 1rem;
  user-select: none;
  color: #6c1172;
}

.custom-file-button:hover {
  background: #6c1172;
  color: #f7dcff;
}

.delete-button {
  display: inline-block;
  padding: 6px 12px;
  background: #f7dcff;
  border: 1px solid #6c1172;
  border-radius: 2px;
  cursor: pointer;
  font-size: 1rem;
  user-select: none;
  color: #6c1172;
}

.delete-button:disabled {
  cursor: not-allowed;
  border: 1px solid #979497;
  color: #979497;
  background: #edeced;
}

.delete-button:enabled:hover {
  background: #6c1172;
  color: #f7dcff;
}

#canvas-container {
  border: 1.5px solid #cccccc;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 600px;
  height: 600px;
}

.sticker-panel {
  position: relative;
  height: 200px;
  width: 600px;
  margin: 0 auto;
}

.sticker {
  width: 130px;
  height: 130px;
  cursor: grab;
  transition: transform 0.2s ease;
  position: absolute;
}

.sticker:hover {
  transform: scale(1.15);
}
