body {
  font-family: Arial, sans-serif;
}

.content {
  justify-content: center; /* optional: centers the whole section horizontally */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 60px;
  color: #6c1172;
}

.file-upload {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 20px;
  gap: 10px; /* Controls spacing between buttons */
}

.file-upload input[type="file"] {
  display: none;
}

.custom-file-button,
.delete-button {
  display: flex; /* Use flex to center content */
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  text-align: center; /* Backup centering */
  width: 200px;
  height: 50px;
  padding: 6px 12px;
  background: #f7dcff;
  border: 1px solid #6c1172;
  border-radius: 2px;
  cursor: pointer;
  font-size: 1rem;
  user-select: none;
  color: #6c1172;
  box-sizing: border-box; /* Ensures padding is included in width */
}

.custom-file-button:hover,
.delete-button:enabled:hover {
  background: #6c1172;
  color: #f7dcff;
}

.delete-button:disabled {
  cursor: not-allowed;
  border: 1px solid #979497;
  color: #979497;
  background: #edeced;
}

.canvas-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Canvas Styling */
.canvas-wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

#canvas-container {
  width: 600px;
  height: 600px;
  border: 1.5px solid #cccccc;
}

.sticker-tabs {
  width: 320px;
  height: 600px;
  display: flex;
  flex-direction: column;
  border: 1.5px solid #cccccc;
  background: rgb(236, 245, 255);
  border-radius: 4px;
  overflow-y: auto;
}

.tab-buttons {
  display: flex;
  justify-content: space-around;
  border-bottom: 1.5px solid #000000;
  margin-bottom: -1px;
}

.tab-btn {
  flex: 1;
  padding: 6px 8px;
  font-weight: bold;
  font-size: 14px;
  background: #ffffff;
  color: #6c1172;
  border: 1px solid #000000;
  border-bottom: none;
  border-radius: 6px 6px 0 0;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.tab-btn:last-child {
  border-right: none;
}

.tab-btn.active {
  background: #aded7d;
  z-index: 2;
}

.tab-content-container {
  padding: 10px;
  flex: 1;
  overflow-y: auto;
}

.tab-content {
  display: none;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
}

.tab-content.active {
  display: flex;
}

.tab-content .sticker {
  width: 40%;
  height: auto;
  object-fit: contain;
  max-width: 100%;
  aspect-ratio: auto;
  cursor: grab;
  transition: transform 0.2s ease;
}
