@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 40px;
}

br {
  margin: 0px;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.heading {
  background-color: #ddd7f8;
  color: rgb(42, 27, 64);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 160px;
}

.container {
  width: 100%;
  max-width: 920px;
  margin: 0 auto;
  padding: 20px;
}

h4 {
  align-content: center;
}

h3 {
  margin-bottom: 10px;
  margin-top: 80px;
}

p {
  margin-top: 10px;
}

li {
  margin-bottom: 8px;
  margin-top: 8px;
}

ul {
  padding: 7px;
  margin: 7px;
}

ol {
  padding: 7px;
  margin: 7px;
}
