body {
  font-family: Arial, sans-serif;
}

.content {
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.title {
  font-family: "Fredoka", sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  color: rgba(89, 52, 22, 1);
  margin: 0px;
}

h2 {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: rgba(89, 52, 22, 1);
}

.titlebox {
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: rgba(243, 235, 219, 1);
  border-radius: 130px;
  width: 450px;
  height: 90px;
  margin: 40px auto;
  padding: 20px 40px;
}

.titlebox::after {
  content: "";
  position: absolute;
  left: 4px;
  right: 4px;
  top: 4px;
  bottom: 4px;
  border: 4px dashed rgba(224, 151, 205, 1);
  border-radius: 126px;
  pointer-events: none;
}

.title-content {
  position: absolute;
  left: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px;
}

.side-button {
  width: 200px;
  height: 200px;
}
.left {
  position: absolute;
  top: -35px;
  left: -25px;
}
.right {
  position: absolute;
  top: -35px;
  right: -25px;
}

.file-upload {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 20px;
  gap: 10px;
}

.file-upload input[type="file"] {
  display: none;
}

.stickerupload input[type="file"] {
  display: none;
}

.right-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.delete-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  padding: 6px 12px;
  background: #ffffff;
  border: 1px solid #2a2a2a;
  border-radius: 2px;
  cursor: pointer;
  font-size: 1rem;
  user-select: none;
  color: #2a2a2a;
  box-sizing: border-box;
}

.custom-file-button1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  padding: 6px 12px;
  background: #f7dcff;
  border: 1px solid #2a2a2a;
  border-radius: 2px;
  cursor: pointer;
  font-size: 1rem;
  user-select: none;
  color: #2a2a2a;
  box-sizing: border-box;
}

.custom-file-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  padding: 6px 12px;
  background: #ffffff;
  border: 1px solid #2a2a2a;
  border-radius: 2px;
  cursor: pointer;
  font-size: 1rem;
  user-select: none;
  color: #2a2a2a;
  box-sizing: border-box;
}

.custom-file-button:hover,
.custom-file-button1:hover,
.delete-button:enabled:hover {
  background: #b41281;
  color: #ffffff;
}

.delete-button:disabled {
  cursor: not-allowed;
  border: 1px solid #b3b3b3;
  color: #b3b3b3;
  background: #f9f8f8;
}

.canvas-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.canvas-wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

#canvas-container {
  width: 600px;
  height: 600px;
  border: 1px solid #2a2a2a;
}

.sticker-tabs {
  width: 320px;
  height: 600px;
  display: flex;
  flex-direction: column;
  border: 1px solid #2a2a2a;
  background: rgb(255, 255, 255);
  background-image: url(bgtest1.jpg);
  background-position: center;
  overflow-y: auto;
}

.tab-buttons {
  display: flex;
  justify-content: space-around;
  border-bottom: px solid #2a2a2a;
}

.tab-btn:not(.active) {
  border-bottom: 1px solid #2a2a2a;
}

.tab-btn {
  flex: 1;
  padding: 10px 10px;
  font-weight: bold;
  font-size: 1rem;
  background: #ffffff;
  color: #000000;
  border: 1px solid #858585;
  border-bottom: none;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.tab-btn.active {
  background: #f7dcff;
  color: #2a2a2a;
  z-index: 2;
}

.tab-content-container {
  padding: 10px;
  flex: 1;
  overflow-y: auto;
}

.tab-content {
  display: none;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
}

.tab-content.active {
  display: flex;
}

.tab-content .sticker {
  width: 40%;
  height: auto;
  object-fit: contain;
  max-width: 100%;
  aspect-ratio: auto;
  cursor: grab;
  transition: transform 0.2s ease;
}

.tab-content .sticker:hover {
  transform: scale(1.1);
}
